*{
    margin:0;
    padding: 0;
}
body{
    background: #FEFEFE;
}

.table-content{
    border-collapse: collapse;
    background-color: #FFFFFF ;
    width: 80%;
    overflow-x: scroll;
    margin: 25px auto;
    padding: 25px auto;
    border-radius: 5px 5px 0 0;
    overflow:hidden;
    box-shadow:0 10px 20px rgb(0, 0, 0, 0.15);
    background-attachment: fixed;
}

.table-content thead tr{
    background-color: #6C7AE0;
    color: white;
    text-align: left;
    font-weight: bold;
    background-attachment: fixed;
}

.table-content th,
.table-content td{
    padding: 12px 15px;
}

.table-content tbody tr{
    border-bottom: 1px solid #dddddd;
}

.table-content tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table-content tbody tr:last-of-type{
    border-bottom: 2px solid #6C7AE0;
}

.table-content tr td:hover{
    background-color: #6C7AE0;
}
