a{
    color: black;
}

a:visited{
    color: brown;
}

a:hover{
    color: blueviolet;
}

a:active{
    color:green;
}

a:focus{
    color: darkmagenta;
}

a.btn {
    text-decoration: none;
    background: red;
    border: 2px solid red;
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    font-family: sans-serif;
    border-radius: 35px;
}
a.btn:hover{
    background-color: rgba(255, 0, 0, 0.2);
    color: black;
}