body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a[target]{
    text-decoration: none;
    color: red;
}

a[target="roni"]{
    color: blue;
}

a[title ~="Basic"]{
    color: aqua;
    font-size: 35px;
    font-weight: bold;
}

a[roni='md']{
    font-size: 35px;
    color: aqua;
}

div[class^='child']{
    width: 300px;
    height: 200px;
    background-color: blueviolet;
    margin: 20px;
}
